{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock%}
{% block navbar_about %}class="nav-link active"{% endblock %}
{% block content %}
<h2>About</h2>
<hr>
<h3>About CaDatPittDB</h3>
<p>
     CadatPittDB is a subproject of CaD@Pitt, with the main purpose of
     giving researchers access to collections and allowing them to 
     download collections data more independently, without mediation 
     through library staff. This project upgrades the existing workflow 
     for data extraction and transformation by simplifying the overall process 
     and utilizing APIs to access data more directly, instead of using interfaces for repositories. 
</p>
<h3>About CaD@Pitt</h3>
<p>
    CaD@Pitt is the parent project of CaDatPittDB. CaD@Pitt (short for Collections as Data at Pitt) project 
    is based in the University of Pittsburgh Library System and aims to 
    increase the visibility and discoverability of library collections, 
    make library collections data accessible for computational use, teach critical and 
    computationally minded data practices, and enable scholars to extend/enrich collections 
    data with research-driven data. Learn more <a href="https://cadatpitt.github.io">here</a>.
</p>
<h3>Project Team</h3>
<ul>
    <li>Tyrica Kapral</li>
    <li>Claire Johns</li>
</ul>
<h3>How We Made CaDatPitt DB</h3>
<ul>
    <li><strong>Front End:</strong>HTML, CSS, Javascript</li>
    <li><strong>Back End:</strong>Python</li>
    <li><strong>Frameworks:</strong>Bootstrap, Django</li>
    <li><strong>Database:</strong>MySQL</li>
</ul>

{% endblock %}
