{% extends "core/base.html" %}
{% load static %}
{% load strfilters %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock%}
{% block navbar_browse %}class="nav-link active"{% endblock %}
{% block content %}

<!-- First Section-->
<h2>Browse Datasets</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet sapien eget pulvinar venenatis. Quisque imperdiet dolor at cursus hendrerit. In consectetur porttitor ultrices.</p>

<div id="retrievalMethod">
  <div class="d-grid gap-2 d-sm-flex justify-content-center justify-content-lg-start my-4">
    <!-- <a class="btn btn-primary btn-action bg-pitt-royal border-pitt-royal"
      href="" role="button">Browse All</a> -->
    <a class="btn btn-primary btn-action bg-pitt-royal border-pitt-royal"
      data-bs-toggle="collapse" data-bs-target="#browseByTagCollapse" 
      aria-expanded="false" aria-controls="browseByTagButton"
      href="" role="button">Browse by Tag</a>
    <a class="btn btn-primary bg-pitt-royal border-pitt-royal"
      data-bs-toggle="collapse" data-bs-target="#browseByCollectionCollapse" 
      aria-expanded="false" aria-controls="browseByCollectionButton"
      href="" role="button">Browse by Collection</a>
  </div>

  <!-- Browse Methods -->
  <div class="accordion-group">
    <!-- Browse by Tag  -->
    <div 
      class="collapse" 
      data-bs-parent="#browseMethod"
      id="browseByTagCollapse">
      {% for tag in tags %}
      {% if tag.get_num_datasets > 0 %}
      <a role="button" href="/tag/?title={{ tag }}" 
        class="btn btn-warning bg-pitt-gold badge-tag text-pitt-dark-blue mb-2">
      {{ tag }} 
      <span class="badge bg-pitt-royal">{{ tag.get_num_datasets }}</span>
      </a>
      {% endif %}
      {% endfor %}
    </div>

    <!-- Browse by Collection -->
    <div 
      class="collapse" 
      data-bs-parent="#browseMethod"
      id="browseByCollectionCollapse">
      {% for collection in collections %}
      <a role="button" href="/collection/?id={{ collection.collection_id }}" 
        class="btn btn-warning bg-pitt-gold badge-tag text-pitt-dark-blue mb-2">
      {{ collection }} 
      <span class="badge bg-pitt-royal">{{ collection.get_num_datasets }}</span>
      </a>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Second Section -->
<hr class="my-4"/>
<div class="row gy-4">
  <!--Filters-->
  <div class="col-md col-lg-4">
    {% include 'snippets/browse-filter-form.html' %}
  </div>

  <!--Dataset Cards-->
  <div class="col-md col-lg-8">
    <h5 align="left">Datasets</h5>
    <p><em>{{ datasets|length }} datasets</em></p>
    <div class="row gy-4">
      {% for dataset in datasets %}
      <div class="col-sm-12">
        <div class="card h-100 shadow-sm bg-light-gray">
          <div class="card-header">
            <div class="row">
              <div class="col-9">
                <strong>Created by</strong>: 
                <a href="/profile/?user={{ dataset.creator.username }}"
                  >{{ dataset.creator }}</a>
              </div>
              <div class="col-3 text-end">
                {% include 'snippets/pin-dataset-icon.html' %}
                {% include 'snippets/tag-dataset-icon.html' %}
                {% include 'snippets/edit-dataset-icon.html' %}
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="card-title">
              <a href="/dataset?id={{ dataset.public_id }}">{{ dataset.title }}</a>
            </h6>
            <h* class="card-subtitle">{{ dataset.description|truncatewords:50 }}</h*>
            <p class="card-text mt-2"><strong># of items</strong>: 
              {{ dataset.items.all|length }}<br/>
              <strong>Last modified</strong>: {{ dataset.last_modified|truncate_date }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Dataset Modals -->
{% for dataset in datasets %}
{% include 'snippets/tag-dataset-modal.html' %}
{% include 'snippets/edit-dataset-modal.html' %}
{% endfor %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>
{% endblock %}
{% block bootstrapjs %}
{% endblock %}
