{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock%}
{% block navbar_browse %}class="nav-link active"{% endblock %}
{% block content %}
<h3>Browse Datasets</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet sapien eget pulvinar venenatis. Quisque imperdiet dolor at cursus hendrerit. In consectetur porttitor ultrices.</p>
<hr/>
<div class="row">
    <!--Filters-->
    <div class="col-md col-lg-4">
        <h5 align="left">Filters</h5>
        <div class="card shadow-sm bg-light-gray">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="keywords" class="bold">Keywords</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="keywords" 
                            name="keywords"
                            required>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="creator" class="bold">Created By</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="creator" 
                            name="creator"
                            required>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="description" class="bold">Description</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="description" 
                            name="description"
                            required>
                        </div>
                    <br/>
                    <div class="form-group">
                        <label for="tags" class="bold">Tags</label>
                        <select 
                            class="form-control"
                            id="tags"
                            name="tags" 
                            multiple
                            required>
                            <option value="" disabled>Select an area</option>
                        </select>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="end_year" class="bold"># of Items</label>
                        <input 
                            type="number" 
                            class="form-control" 
                            id="num_items" 
                            name="num_items"
                            min="1" max="500000" step="1"
                            required>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="date" class="bold">Last Modified</label>
                        <input 
                        type="date" 
                        class="form-control" 
                        id="date" 
                        name="date"
                        required>
                      </div>
                    <br />
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-warning pitt-gold">
                            Apply Filters
                        </button>
                    </div>
                </form>
            </div>
        </div> 
    </div>
    <!--Dataset Cards-->
    <div class="col-md col-lg-8">
        <h5 align="left">Datasets</h5>
        <div class="row gy-4">
            <div class="col-sm-12 col-lg-6">
                <div class="card h-100 shadow-sm bg-light-gray">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-9">
                                <strong>Created by</strong>: Username
                            </div>
                            <div class="col-3 text-end">
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Pin dataset"><img class="card-header-icons"
                                src="{% static 'images/push_pin_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
                                <!-- <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Delete dataset"><img class="card-header-icons"
                                src="{% static 'images/delete_FILL0_wght400_GRAD0_opsz48.svg' %}"></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Dataset 1</h5>
                        <h* class="card-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                        aliquet sapien eget pulvinar venenatis. Quisque imperdiet dolor at
                        cursus hendrerit. In consectetur porttitor ultrices.</h*>
                        <p class="card-text mt-2"><strong># of items</strong>: 2,023<br/>
                        <strong>Last modified</strong>: June 27, 2023
                        </p>
                        <a class="btn btn-warning bg-pitt-gold border-pitt-gold">View</a>
                    </div>
                </div>
            </div>
            <!--dataset 2 -->
            <div class="col-sm-12 col-lg-6">
                <div class="card h-100 shadow-sm bg-light-gray">
                    <div class="card-body">
                        <h5 class="card-title">Dataset 2</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="card h-100 shadow-sm bg-light-gray">
                    <div class="card-body">
                        <h5 class="card-title">Dataset 3</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="card h-100 shadow-sm bg-light-gray">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-9">
                                <strong>Created by</strong>: Username
                            </div>
                            <div class="col-3 text-end">
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Pin dataset"><img class="card-header-icons"
                                src="{% static 'images/push_pin_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
                                <!-- <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Delete dataset"><img class="card-header-icons"
                                src="{% static 'images/delete_FILL0_wght400_GRAD0_opsz48.svg' %}"></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Dataset 1</h5>
                        <h* class="card-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                        aliquet sapien eget pulvinar venenatis. Quisque imperdiet dolor at
                        cursus hendrerit. In consectetur porttitor ultrices.</h*>
                        <p class="card-text mt-2"><strong># of items</strong>: 2,023<br/>
                        <strong>Last modified</strong>: June 27, 2023
                        </p>
                        <a class="btn btn-warning bg-pitt-gold border-pitt-gold">View</a>
                    </div>
                </div>
            </div>
            <!--dataset 2 -->
            <div class="col-sm-12 col-lg-6">
                <div class="card h-100 shadow-sm bg-light-gray">
                    <div class="card-body">
                        <h5 class="card-title">Dataset 2</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="card h-100 shadow-sm bg-light-gray">
                    <div class="card-body">
                        <h5 class="card-title">Dataset 3</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
