{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock%}
{% block navbar_dashboard %}class="nav-link active"{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md col-lg-8">
        <h3 align="center">Dashboard</h3>
    </div>
    <div class="col-md col-lg-4">
        <form method="POST">
            {% csrf_token %}
            <h3 align="center">Account Information</h3>
            <br/>
            {% include 'auth/user-form.html' %}
        </form>
    </div>
</div>
{% endblock %}