{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock%}
{% block navbar_faq %}class="nav-link active"{% endblock %}
{% block content %}
<h2>Frequently Asked Questions</h2>
<p>To view an answer to a question, click on the question to expand the section.<br/>
  If you have additional questions, please feel free to <a href="/contact/">contact us</a>!</p>
<hr/>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <!--Question-->
          How do I browse datasets?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          To browse the public datasets on the site, click the "Browse Datasets"
          link on the blue navigation bar at the top of the website. <!-- Then, use the filters on the left hand side of the page to filter datasets based on the criteria you are looking for.  -->

          You can browse datasets without an account.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <!--Question -->
          What are some common uses of these datasets?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          These datasets are commonly used by researchers who include data about 
          library and archives collections in their research. Importantly, this 
          data is metadata which describes an item, not the text/content of the 
          item itself.
          For example, if a student was working on a project involving metadata 
          and needed a source for metadata, these datasets could be that source.
          If a scholar researching a particular archival collection in the ULS 
          and needs the metadata about those items, they could access that here 
          and create a dataset with that collection. Anyone who is curious about 
          library and archives collections can browse the public datasets to 
          learn more.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <!--Question-->
          What types of data can I expect in these datasets?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Overall, the most common data type in these datasets is text. However, data types could vary depending upon the collection.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <!--Question -->
          How do I create an account?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          To create an account, click the blue and yellow "Sign Up" button in the navigation bar at the top of the page, to the left of the search bar. This will take you to a form, where you can enter your information to create an account.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <!--Question -->
          How do I pin a dataset created by another user?
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          First, log in to your account or sign up for an account if you do not have one already.
          Then, go to the Browse Datasets page and use the filters to select some datasets.
          Locate the button shaped like a pin, and click this to pin the dataset.
          Once a dataset is pinned, you will be able to view it on your Dashboard on the left side, under Pinned Datasets.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <!--Question-->
          How do I download a dataset?
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          First, log in to your account or sign up for one if you do not have one yet.
          Then, go to the Browse Data page. For each dataset, there will be a gold button labeled “Download”.
          Click this, and a Download Dataset window will appear. Use the drop down menu to select a file type, then click the gold Submit button at the bottom of the window to download the dataset.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          <!--Question 1-->
          What formats of data are available to download?
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Currently, CSV(.csv) and Excel Workbook(.xlsx)  files are available for download. If you have suggestions for data formats that could be added for download, please feel free to contact us.
         </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          <!--Question -->
          How do I create a dataset?
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          First, you will need to create an account on the site, or log in to
          your account if you already have one. Then, use the "Retrieve Data"
          link on the blue navigaton bar. On this page, you can request data by
          selecting one or more collections or by listing unique identifiers
          associated with collection items, then clicking the "Retrieve" button.
          Once your initial results have been loaded, you can apply filters
          based on your criteria to narrow your results. When you're ready to
          create a dataset, click the "Create Dataset" button and fill out the
          form with the required information about your dataset. All of the
          items in your results will be automatically added to your dataset.

          Once you have created a dataset, you can edit the dataset information,
          add and remove items, and view your dataset on your Dashboard in the
          first tab, "My Datasets".
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          <!--Question 3-->
          Where do I find the identifiers to use for data retrieval?
        </button>
      </h2>
      <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          To view identifiers, go to the Browse Datasets page and click on the title of the dataset to view the items in that collection.
          For each item, underneath the item title, there is the identifier which begins with “pitt:” followed by numbers.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          <!--Question -->
           How do I delete or modify and existing dataset?
        </button>
      </h2>
      <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          First, log in to your account or sign up for one if you do not have one yet.
          Then, go to your Dashboard page by clicking the “Hi, [your name]” link on the navigation bar and choosing Dashboard on the drop down menu.
          On the left side of this page, choose the My Datasets tab. Locate the dataset you would like to change.
          To delete a dataset, click the trash can button and click the red delete button in the pop up window.
          To edit a dataset, click the pencil button and choose edit a copy to keep the current dataset and create a copy to edit, or original to edit the current dataset.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
          <!--Question -->
           What are the terms of use for the data?
        </button>
      </h2>
      <div id="collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          The terms of use vary upon the organization who owns the dataset.
          To view this information, see the terms of use for that specific dataset.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
          <!--Question -->
           What are the terms of use for the datasets published on CaDatPittDB?
        </button>
      </h2>
      <div id="collapseThirteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          The terms of use for datasets published on CaDatPittDB follow the <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 License</a>.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
          <!--Question -->
          How do I contact Digital Scholarship Services for help?
        </button>
      </h2>
      <div id="collapseFourteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          To contact us for help, click the yellow "Contact Us" button in the lower right hand of the page.

          If you cannot see the "Contact Us" button, click the "Help" link in the blue navigation bar at the top of the page. In the drop down menu, click "Contact Us". This will direct you to a form where you can send us your message.
        </div>
      </div>
    </div>
  </div>
{% endblock %}
