{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock%}
{% block navbar_faq %}class="nav-link active"{% endblock %}
{% block content %}
<h2>Frequently Asked Questions</h2>
<p>To view an answer to a question, click on the question to expand the section.<br/>
  If you have additional questions, please feel free to <a href="/contact/">contact us</a>!</p>
<hr/>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <!--Question 1-->
          How do I browse datasets? 
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          To browse the public datasets on the site, click the "Browse Datasets" link on the blue navigation bar at the top of the website. Then, use the filters on the left hand side of the page to filter datasets based on the criteria you are looking for. 

          You can browse datasets without an account. 
         </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <!--Question 2-->
          How do I create my own datasets on the website? 
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          First, you will need to create an account on the site, or log in to your account if you already have one. Then, use the "Retrieve Data" link on the blue navigaton bar. On this page, you can filter through our collections based on your criteria to create your own datasets. 
          Once you have created a dataset, you can view it on your Dashboard in the first tab, "My Datasets". 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-light-gray bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <!--Question 3-->
          How do I save a dataset that was created by other user? 
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          To save a dataset created by another user, you can "pin" that dataset. Look for the pin icons on the dataset, and click them to pin that dataset. Pinned datasets will appear on the right hand side of your Dashboard under "Pinned Datasets". 
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-light-gray bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <!--Question 4-->
            How do I create an account?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            To create an account, click the blue and yellow "Sign Up" button in the navigation bar at the top of the page, to the left of the search bar. This will take you to a form, where you can enter your information to create an account.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-light-gray bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <!--Question 4-->
            How do I contact Digital Scholarship Services for help? 
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            To contact us for help, click the yellow "Contact Us" button in the lower right hand of the page. 

            If you cannot see the "Contact Us" button, click the "Help" link in the blue navigation bar at the top of the page. In the drop down menu, click "Contact Us". This will direct you to a form where you can send us your message. 
          </div>
        </div>
      </div>
  </div>
{% endblock %}