{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
{% endblock %}
{% block navbar_home %}class="nav-link active"{% endblock %}
{% block content %}
{% endblock %}
<!--Landing section-->
<div class = "jumbotron">
    <h1>Welcome to the CaD@Pitt Datasets!</h1>
    <p>Explore library and archives metadata, create your own datasets from your searches, and share them with our community of researchers! </p>
    <p>Sign up to begin creating your datasets or browse published datasets!</p>
</div>
<!-- landing area buttons -->
<div class="btn-group btn-group-lg ">
  <button type="button" class="btn-default">Create an Account</button>
  <button type="button" class="btn-default">Create a Dataset</button>
  <button type="button" class="btn=default">Explore Datasets</button>
</div>
<!-- featured section on 1 row 4 col grid-->
<h2>Featured Datasets</h2>
<div class="container">
  <!-- using cards for each featured dataset -->
  <div class="row">
    <div class="col-*-*">
      <div class="card">
        <div class="card-body">Dataset 1</div>
      </div>
    </div>
    <div class="col-*-*">
      <div class="card">
        <div class="card-body">Dataset 2</div>
      </div>
    </div>
    <div class="col-*-*">
      <div class="card">
        <div class="card-body">Dataset 3</div>
      </div>
    </div>
    <div class="col-*-*">
      <div class="card">
        <div class="card-body">Dataset 4</div>
      </div>
    </div>
  </div>
</div>