{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock%}
{% block navbar_retrieve %}class="nav-link active"{% endblock %}
{% block content %}

<!-- First Section-->
<h2>Retrieve Data</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet sapien eget pulvinar venenatis. Quisque imperdiet dolor at cursus hendrerit. In consectetur porttitor ultrices.</p>

<!-- Dataset Action Buttons -->
{% if not dataset.empty %}
<div class="d-grid gap-2 d-md-flex justify-content-center justify-content-md-start">
    <a class="btn btn-primary bg-pitt-royal border-pitt-royal" role="button"
    data-bs-toggle="modal" data-bs-target="#createDatasetModal"
    href="">Modify Search</a>
    <a class="btn btn-primary bg-pitt-royal border-pitt-royal" role="button"
    data-bs-toggle="modal" data-bs-target="#createDatasetModal"
    href="">Save Search</a>
    <a class="btn btn-primary bg-pitt-royal border-pitt-royal" role="button"
    data-bs-toggle="modal" data-bs-target="#createDatasetModal">Create Dataset</a>
</div>
{% endif %}
<hr/>

<!-- Second Section -->
<div class="row gy-4">
  <!-- Filters -->
  <div class="col-md col-lg-4">
    {% include 'core/filters.html' %}
  </div>

  <!-- Data Retrieval Forms -->
  <div class="col-md col-lg-8">
    {% if not show_results %}
    <!-- Option Toggles -->
    <h5 align="left">Retrieval Method</h5>
    <div id="retrievalMethod">
      <div class="form-group">
        <div class="form-check">
          <input 
            data-bs-toggle="collapse" 
            data-bs-target="#collectionCollapse"
            class="form-check-input" 
            type="radio" 
            name="retrieval_method"
            id="collectionCollapseToggle" 
            value="collection"
            checked>
          <label class="form-check-label" for="collectionCollapseToggle">
          By Collection 
          </label>
        </div>
        <div class="form-check">
          <input 
            data-bs-toggle="collapse" 
            data-bs-target="#identifiersCollapse"
            class="form-check-input" 
            type="radio" 
            name="retrieval_method"
            id="identifiersCollapseToggle"
            value="ids"
            >
          <label class="form-check-label" for="identifiersCollapseToggle">
          List of Identifiers
          </label>
        </div>
        <div class="form-check">
          <input 
            data-bs-toggle="collapse" 
            data-bs-target="#fileUploadCollapse"
            class="form-check-input" 
            type="radio" 
            name="retrieval_method" 
            id="fileUploadCollapseToggle"
            value="file">
          <label class="form-check-label" for="fileUploadCollapseToggle">
          CSV Upload
          </label>
        </div>
      </div>

      <!-- Input Methods -->
      <div class="accordion-group">
        <!-- Collections -->
        <div class="card shadow-sm bg-light-gray mt-2">
          <div class="card-body">
            <div 
              class="collapse accordionCollapse show" 
              data-bs-parent="#retrievalMethod"
              id="collectionCollapse">
              <form method="POST" 
                action="/retrieve/?retrieval_method=collections">
                {% csrf_token %}
                <div class="form-group">
                  <label for="parent_unit" class="bold">Collection(s)</label>
                  <select 
                    class="form-control" 
                    name="collections" 
                    id="collections"
                    size="10"
                    multiple>
                    <option value="" disabled>Select collection(s)</option>
                    {% for collection in collections %}
                    <option value="{{ collection.collection_id }}">
                      {{ collection.title }} ({{ collection.collection_id }})
                    </option>
                    {% endfor %}
                  </select>
                </div>
                <br/>
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary bg-pitt-royal border-pitt-royal">
                  Submit
                  </button>
                </div>
              </form>
            </div>
            <!-- List of Identifiers -->
            <div 
              class="collapse accordionCollapse" 
              data-bs-parent="#retrievalMethod"
              id="identifiersCollapse">
              <form method="POST" 
                action="/retrieve/?retrieval_method=identifiers">
                {% csrf_token %}
                <div class="form-group">
                  <label for="item_ids" class="bold">Identifiers</label>
                  <textarea class="form-control"
                    id="item_ids"
                    name="item_ids"
                    rows="10"
                    placeholder="Enter one identifier per line"
                    ></textarea>
                  <small>Not sure how to enter your list of identifiers? 
                  <a href="#">Check out the FAQ!</a></small>
                </div>
                <br/>
                <div class="col-md-12 text-center">
                  <button 
                    type="submit" 
                    class="btn btn-primary bg-pitt-royal border-pitt-royal">
                  Submit
                  </button>
                </div>
              </form>
            </div>
            <!-- CSV File Upload -->
            <div 
              class="collapse accordionCollapse" 
              data-bs-parent="#retrievalMethod"
              id="fileUploadCollapse">
              <form method="POST" 
                action="/retrieve/?retrieval_method=file"
                enctype="multipart/form-data">
                {% csrf_token %}
                <label for="csv_file" class="bold">File Upload</label>
                <div class="input-group">
                  <input class="form-control" 
                    type="file" 
                    accept=".csv"
                    id="csv_file"
                    name="csv_file">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary bg-pitt-royal border-pitt-royal">
                        Upload
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}

    <!-- Results -->
    <h5 align="left">Results</h5>
    {% if num_results > 0 %}
    <p><em>{{ num_results }} results</em></p>
    <div class="row gy-4">
      {% for index, result in dataset.iterrows %}
      <div class="col-12">
        <div class="card item-card shadow-sm bg-light-gray">
          <img src="{{ result.thumbnail }}" class="card-img-top item-thumbnail" />
          <div class="card-body">
            <div class="row border-bottom mb-2 pb-2">
              <div class="col text-end">
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" 
                  data-bs-title="Pin dataset"><img class="card-header-icons"
                  src="{% static 'images/push_pin_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" 
                  data-bs-title="Edit dataset"><img class="card-header-icons"
                  src="{% static 'images/edit_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
              </div>
            </div>
            <a target="_blank" 
              href="https://digital.library.pitt.edu/islandora/object/{{ result.identifier }}">
              <h5 class="card-title">{{ result.title }}</h5>
            </a>
            <p class="mb-0">
              <strong>Creator</strong>: {{ result.creator }}<br/>
              <strong>Date</strong>: {{ result.date }}<br/>
              <strong>Type</strong>: {{ result.type }}
              <strong>Collections</strong>: {{ result.collection }}<br/>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}   
    </div>
    {% else %}
    <p>No records were found.</p>
    {% endif %}
    {% endif %}
  </div>
</div>

<!-- Create Dataset Form Modal -->
<div class="modal fade" id="createDatasetModal" name="createDatasetModal" 
    tabindex="-1" aria-labelledby="createDatasetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createDatasetModalLabel">Create Dataset</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Create Dataset Form -->
                <div id="create_dataset_form">
                    <form method="POST" action="/create/?user={{ user.username }}">
                        {% include 'core/create.html' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>
{% endblock %}
{% block bootstrapjs %}
{% endblock %}
