{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<link rel="stylesheet" href="{% static 'tagin/dist/tagin.min.css' %}" />
{% endblock%}
{% block navbar_retrieve %}class="nav-link active"{% endblock %}
{% block content %}

<!-- First Section-->
<h2>Retrieve Data</h2>
<p>Collect data about items in <a href="https://digital.library.pitt.edu/" 
  target="_blank">ULS Digital Collections</a> by selecting one or more 
  collections or by listing specific items of interest.<br/>
  <strong>
    Please note that larger sets of items will take longer to retrieve.
  </strong>
</p>

<!-- Dataset Action Buttons -->
{% if show_results %}
<div class="d-grid gap-2 d-md-flex justify-content-center justify-content-lg-start">
    <a class="btn btn-primary btn-action bg-pitt-royal border-pitt-royal" role="button"
      href="/retrieve/">Start Over</a>
    <!-- <a class="btn btn-primary btn-action bg-pitt-royal border-pitt-royal" role="button"
    data-bs-toggle="modal" data-bs-target="#saveResultsModal"
    href="">Save Results</a> -->
    <a class="btn btn-primary btn-action bg-pitt-royal border-pitt-royal" role="button"
    data-bs-toggle="modal" data-bs-target="#createDatasetModal"
   >Create Dataset</a>
</div>

<!-- Second Section -->
<hr class="mt-4"/>
<div class="row gy-4">
  <!-- Filters -->
  <div class="col-lg-4">
    {% include 'snippets/retrieve-filters-form.html' %}
  </div>
  <div class="col-lg-8">
{% else %}
<hr class="mt-4"/>
{% endif %}

  <!-- Data Retrieval Forms -->
    {% if not show_results %}
    <!-- Option Toggles -->
    <h5 align="left">Retrieval Method</h5>
    <div id="retrievalMethod">
      <div class="form-group">
        <div class="form-check">
          <input 
            data-bs-toggle="collapse" 
            data-bs-target="#collectionCollapse"
            class="form-check-input" 
            type="radio" 
            name="retrieval_method"
            id="collectionCollapseToggle" 
            value="collection"
            checked>
          <label class="form-check-label" for="collectionCollapseToggle">
          By Collection 
          </label>
        </div>
        <div class="form-check">
          <input 
            data-bs-toggle="collapse" 
            data-bs-target="#identifiersCollapse"
            class="form-check-input" 
            type="radio" 
            name="retrieval_method"
            id="identifiersCollapseToggle"
            value="ids"
            >
          <label class="form-check-label" for="identifiersCollapseToggle">
          List of Identifiers
          </label>
        </div>
        <!-- <div class="form-check">
          <input 
            data-bs-toggle="collapse" 
            data-bs-target="#fileUploadCollapse"
            class="form-check-input" 
            type="radio" 
            name="retrieval_method" 
            id="fileUploadCollapseToggle"
            value="file">
          <label class="form-check-label" for="fileUploadCollapseToggle">
          CSV Upload
          </label>
        </div> -->
      </div>

      <!-- Input Methods -->
      <div class="accordion-group">
        <!-- Collections -->
        <div class="card shadow-sm bg-light-gray mt-2">
          <div class="card-body">
            <div 
              class="collapse accordionCollapse show" 
              data-bs-parent="#retrievalMethod"
              id="collectionCollapse">
              <form method="POST" 
                action="/retrieve/?retrieval_method=collections">
                {% csrf_token %}
                <div class="form-group">
                  <label for="collections" class="bold">Collection(s)</label>
                  <select 
                    class="form-control" 
                    name="collections" 
                    id="collections"
                    size="10"
                    multiple>
                    <option value="" disabled>Select collection(s)</option>
                    {% for collection in collections %}
                    <option value="{{ collection.collection_id }}">
                      {{ collection.title }} ({{ collection.collection_id }})
                    </option>
                    {% endfor %}
                  </select>
                  <small><strong>Note:</strong> This is not a comprehensive List
                  of ULS Digital Collections. Only collections with 250 or fewer
                  items have been included while performance on the site is being
                  optimized.</small>
                </div>
                <br/>
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary bg-pitt-royal border-pitt-royal"
                   data-bs-toggle="modal" data-bs-target="#loadingModal">
                    Retrieve
                  </button>
                </div>
              </form>
            </div>
            <!-- List of Identifiers -->
            <div 
              class="collapse accordionCollapse" 
              data-bs-parent="#retrievalMethod"
              id="identifiersCollapse">
              <form method="POST" 
                action="/retrieve/?retrieval_method=identifiers">
                {% csrf_token %}
                <div class="form-group">
                  <label for="item_ids" class="bold">Identifiers</label>
                  <textarea class="form-control"
                    id="item_ids"
                    name="item_ids"
                    rows="10"
                    placeholder="Enter one identifier per line"
                    ></textarea>
                  <!-- <small>Not sure how to enter your list of identifiers? 
                  <a href="/faq/">Check out the FAQ!</a></small> -->
                </div>
                <br/>
                <div class="col-md-12 text-center">
                  <button 
                    type="submit" 
                    class="btn btn-primary bg-pitt-royal border-pitt-royal"
                    data-bs-toggle="modal" data-bs-target="#loadingModal"
                    >
                  Retrieve
                  </button>
                </div>
              </form>
            </div>
            <!-- CSV File Upload -->
            <div 
              class="collapse accordionCollapse" 
              data-bs-parent="#retrievalMethod"
              id="fileUploadCollapse">
              <form method="POST" 
                action="/retrieve/?retrieval_method=file"
                enctype="multipart/form-data">
                {% csrf_token %}
                <label for="csv_file" class="bold">File Upload</label>
                <div class="input-group">
                  <input class="form-control" 
                    type="file" 
                    accept=".csv"
                    id="csv_file"
                    name="csv_file">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary bg-pitt-royal border-pitt-royal">
                      Upload
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}

    <!-- Results -->
    <h5 align="left">Results</h5>
    {% if num_results > 0 %}
    <p><em>Showing {{ items.start_index }}-{{ items.end_index }} out of {{ num_results }} results(s)</em></p>
    <div class="row gy-4">
      {% for item in items %}
      <div class="col-12">
        <div class="card shadow-sm bg-light-gray">
          <div class="card-header">
            <div class="row">
              <!-- <div class="col text-start">
                  <input 
                    type="checkbox" 
                    class="item-checkbox mt-1" 
                    id="include{{ item.item_id }}"
                    name="include"
                    value="">
                  <label class="form-check-label" for="public">
                    Include in dataset
                  </label>
              </div> -->
              <div class="col text-end">
                {% include 'snippets/pin-item-icon.html' %}
                {% include 'snippets/tag-item-icon.html' %}
                {% include 'snippets/add-item-icon.html' %}
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-2 d-none d-md-block">
                {% if 'Finding aid' in item.type %}
                <img src="https://digital.library.pitt.edu/sites/all/modules/upitt_islandora_solr_search_extras/images/findingaids4_lt_big_text.png" 
                  class="card-img-top item-thumbnail" />
                {% elif item.thumbnail %}
                <img src="{{ item.thumbnail.0 }}" class="card-img-top item-thumbnail" />
                {% else %}
                <img src="https://publicdomainvectors.org/photos/A_Filing_Cabinet.png" 
                  class="card-img-top item-thumbnail" />
                {% endif %}
              </div>
              <div class="col-12 col-md-10">
                <a target="_blank" 
                  href="https://digital.library.pitt.edu/islandora/object/{{ item.item_id }}">
                  <h5 class="card-title">{{ item.title|join:", " }}</h5>
                </a>
                <p class="mb-0">
                  <strong>Identifier:</strong> {{ item.item_id }}<br/>
                  <strong>Creator:</strong> {{ item.creator|join:", " }}<br/>
                  <strong>Date:</strong> {{ item.date|join:", " }}<br/>
                  <strong>Type:</strong> {{ item.type|join:", " }}<br/>
                  <strong>Collection:</strong> 
                  {% for collection in item.collection %}
                  {% if item.collection|length > 1 %}
                  <br/>
                  {% endif %}
                  <a target="_blank" 
                    href="{{ collection.1 }}">{{ collection.0 }}</a>
                  {% endfor %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}   
    </div>
    {% if items.paginator.num_pages > 1 %}
    <div class="d-flex justify-content-center mt-4">
      <nav aria-label="page navigation">
        <ul class="pagination">
          {% if items.has_previous %}
            <li class="page-item>">
              <a class="page-link" 
              href="/retrieve/?page=1">&laquo First</a>
            </li>
            <li class="page-item>">
              <a class="page-link" 
              {% if request.session.filters %}
                href="/retrieve/?filters=True&page={{ items.previous_page_number }}">Previous</a>
              {% else %}
                href="/retrieve/?page={{ items.previous_page_number }}">Previous</a>
              {% endif %}
            </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" 
            href="#">Page {{ items.number }} of {{ items.paginator.num_pages }} </span></a>
          </li>

          {% if items.has_next %}
            <li class="page-item>">
              <a class="page-link" 
              {% if request.session.filters %}
                href="/retrieve/?filters=True&page={{ items.next_page_number }}">Next</a>
              {% else %}
                href="/retrieve/?page={{ items.next_page_number }}">Next</a>
              {% endif %}
            </li>
            <li class="page-item>">
              <a class="page-link" 
                {% if request.session.filters %}
                href="/retrieve/?filters=True&page={{ items.paginator.num_pages }}">Last &raquo</a>
                {% else %}
                href="/retrieve/?page={{ items.paginator.num_pages }}">Last &raquo</a>
                {% endif %}
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    {% endif %}
    {% else %}
    <p>No records were found.</p>
    {% endif %}
    {% endif %}
  </div>
</div>

<!-- Dataset Modals -->
{% include 'snippets/create-form-modal.html' %}
{% include 'snippets/save-form-modal.html' %}


<!-- Add/Tag Item Modals -->
{% for index, item in items %}
  {% include 'snippets/add-item-modal.html' %}
  {% include 'snippets/tag-item-modal.html' %}
{% endfor %}

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>
<script src="{% static 'tagin/dist/tagin.js' %}"></script>
<script>
  const tagin = new Tagin(document.querySelector('.tagin'), {
  separator: '|||',
  duplicate: false,
  enter: true,
  transform: 'input => input',
  placeholder: 'Type tag name and press Enter/Return to add'
  })
</script>
<script>
  /* always keep at least 1 open by preventing the current to close itself */
$('[data-bs-toggle="collapse"]').on('click',function(e){
  if ( $(this).parents('.accordion-group').find('.collapse.show') ){
      var idx = $(this).index('[data-bs-toggle="collapse"]');
      if (idx == $('.collapse.show').index('.collapse')) {
          // prevent collapse
          e.stopPropagation();
      }
  }
});
</script>
{% endblock %}
{% block bootstrapjs %}
{% endblock %}
