{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock%}
{% block navbar_dashboard %}class="nav-link active"{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md col-lg-8">
    <h3 align="center">Dashboard</h3>
    <!--My Datasets, Pinned Datasets, Saved Searches section-->
    <div class="card h-50 shadow-sm bg-light-gray">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" role="tab">My Datasets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#history" role="tab">Pinned Datasets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#deals" role="tab">My Saved Searches</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content mt-3">
          <div class="tab-pane active" id="description" role="tabpanel">
            <!--My Datasets-->
            <ul class="list-group list-group-flush">
              <li class="list-group-item">August Wilson plays
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Pin dataset"><img class="card-header-icons"
                        src="{% static 'images/push_pin_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Edit dataset"><img class="card-header-icons"
                  src="{% static 'images/edit_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
              </li>
              <li class="list-group-item">Pittsburgh major league sports
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Pin dataset"><img class="card-header-icons"
                  src="{% static 'images/push_pin_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Edit dataset"><img class="card-header-icons"
                  src="{% static 'images/edit_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
              </li>
              <li class="list-group-item">Pittsburgh Northside 1990s
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                      data-bs-title="Pin dataset"><img class="card-header-icons"
                      src="{% static 'images/push_pin_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Edit dataset"><img class="card-header-icons"
                  src="{% static 'images/edit_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
              </li>
              <li class="list-group-item">Pittsburgh Northside 1990s
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                      data-bs-title="Pin dataset"><img class="card-header-icons"
                      src="{% static 'images/push_pin_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Edit dataset"><img class="card-header-icons"
                  src="{% static 'images/edit_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>

              </li>
            </ul>
            <div class="card-footer">
              <a href="#" class="btn btn-warning pitt-gold">Create New Dataset</a>
            </div>
          </div>
           
          <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab"> 
            <!--Pinned Datasets--> 
            <p class="card-text">First settled around 1000 BCE and then founded as the Etruscan Felsina about 500 BCE, it was occupied by the Boii in the 4th century BCE and became a Roman colony and municipium with the name of Bononia in 196 BCE. </p>
            <a href="#" class="card-link text-danger">Read more</a>
          </div>
          
          <div class="tab-pane" id="deals" role="tabpanel" aria-labelledby="deals-tab">
            <!--Saved Searches-->
            <p class="card-text">Immerse yourself in the colours, aromas and traditions of Emilia-Romagna with a holiday in Bologna, and discover the city's rich artistic heritage.</p>
            <a href="#" class="btn btn-danger btn-sm">Get Deals</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!--Account and Profile section-->
  <div class="col-md col-lg-4">
    <form method="POST">
      {% csrf_token %}
      <h3 align="center">Account</h3>
      <br/>
      {% include 'auth/account-form.html' %}
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-warning pitt-gold">Update</button>
      </div>
    </form>
    <h3 align="center">Profile</h3>
  </div>
</div>
<div class="row">
{% endblock %}