{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock%}
{% block navbar_dashboard %}class="nav-link active"{% endblock %}
{% block content %}
<div class="row gy-4">
  <div class="col-md col-lg-8">
    <h3 align="center">Dashboard</h3>
    <form method="POST" action="#">
      {% csrf_token %}
      <div class="input-group">
        <input 
          class="form-control"
          type="text"
          placeholder="Enter keywords to filter your dashboard content"
          >
        <div class="input-group-append">
          <button 
            class="btn btn-warning pitt-gold dropdown-toggle" 
            type="button" data-bs-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">Apply Filters</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">All Content</a>
            <a class="dropdown-item" href="#">My Datasets</a>
            <a class="dropdown-item" href="#">Saved Searches</a>
            <a class="dropdown-item" href="#">Pinned Datasets</a>
            <a class="dropdown-item" href="#">Pinned Items</a>
          </div>
        </div>
      </div>
    </form>
    <!--My Datasets, Pinned Datasets, Saved Searches section-->
    <div class="card shadow-sm bg-light-gray mt-4">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" role="tab">My Datasets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#deals" role="tab">Saved Searches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#history" role="tab">Pinned Datasets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#deals" role="tab">Pinned Items</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active" id="description" role="tabpanel">
            <!--My Datasets-->
            <ul class="list-group">
              <li class="list-group-item">August Wilson plays
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Pin dataset"><img class="card-header-icons"
                        src="{% static 'images/push_pin_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Edit dataset"><img class="card-header-icons"
                  src="{% static 'images/edit_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
              </li>
              <li class="list-group-item">Pittsburgh major league sports
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Pin dataset"><img class="card-header-icons"
                  src="{% static 'images/push_pin_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Edit dataset"><img class="card-header-icons"
                  src="{% static 'images/edit_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
              </li>
              <li class="list-group-item">Pittsburgh Northside 1990s
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                      data-bs-title="Pin dataset"><img class="card-header-icons"
                      src="{% static 'images/push_pin_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Edit dataset"><img class="card-header-icons"
                  src="{% static 'images/edit_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
              </li>
              <li class="list-group-item">Pittsburgh Northside 1990s
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                      data-bs-title="Pin dataset"><img class="card-header-icons"
                      src="{% static 'images/push_pin_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Edit dataset"><img class="card-header-icons"
                  src="{% static 'images/edit_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
              </li>
            </ul>
            <div class="col-md-12 text-center mt-3">
              <a href="#" class="btn btn-warning pitt-gold">Create New Dataset</a>
            </div>
          </div>
          
          <div class="tab-pane" id="deals" role="tabpanel" aria-labelledby="deals-tab">
            <!--Saved Searches-->
          </div>
          
          <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab"> 
            <!--Pinned Datasets--> 
          </div>

          <div class="tab-pane" id="deals" role="tabpanel" aria-labelledby="deals-tab">
            <!--Pinned Items -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Account and Profile section-->
  <div class="col-md col-lg-4">
    <h3 align="center">Account</h3>
    <div class="card shadow-sm bg-light-gray">
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          {% include 'auth/account-form.html' %}
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-warning pitt-gold">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
{% block bootstrapjs %}
{% endblock %}
{% endblock %}