{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock%}
{% block navbar_dashboard %}class="nav-link active"{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md col-lg-8">
    <h3 align="center">Dashboard</h3>
    <!--My Datasets, Pinned Datasets, Saved Searches section-->
    <div class="card h-50 shadow-sm bg-light-gray">
      <div class="card-header"><strong>My Datasets</strong></div>
        <div class="card-body">
          
          <p>August Wilson plays
            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="Pin dataset"><img class="card-header-icons"
                    src="{% static 'images/push_pin_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
                  <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="Edit dataset"><img class="card-header-icons"
                    src="{% static 'images/edit_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
          </p>
          <p>Pittsburgh major league sports
            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="Pin dataset"><img class="card-header-icons"
                    src="{% static 'images/push_pin_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
                  <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="Edit dataset"><img class="card-header-icons"
                    src="{% static 'images/edit_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
          </p>
          <p>Pittsburgh Northside 1990s
            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Pin dataset"><img class="card-header-icons"
                  src="{% static 'images/push_pin_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Edit dataset"><img class="card-header-icons"
                  src="{% static 'images/edit_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
          </p>
          <p>University of Pittsburgh 1990s
            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Pin dataset"><img class="card-header-icons"
                  src="{% static 'images/push_pin_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Edit dataset"><img class="card-header-icons"
                  src="{% static 'images/edit_FILL0_wght400_GRAD0_opsz48.svg' %}"></a>
          </p>
        </div>
      </div>
  </div>
  <!--Account and Profile section-->
  <div class="col-md col-lg-4">
    <form method="POST">
      {% csrf_token %}
      <h3 align="center">Account</h3>
      <br/>
      {% include 'auth/account-form.html' %}
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-warning pitt-gold">Update</button>
      </div>
    </form>
    <h3 align="center">Profile</h3>
  </div>
</div>
<div class="row">
{% endblock %}