{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock%}
{% block navbar_signup %}class="nav-link active"{% endblock %}
{% block content %}
<div class="row">
  <div class="mx-auto col-sm-10 col-md-8 col-lg-6 col-xxl-4">
    <form method="POST">
      {% csrf_token %}
      <h3 align="center">Sign Up</h3>
      <br/>
      {% include 'auth/account-form.html' %}
      <div class="collapse" id="profileFormCollapse">
        {% include 'auth/profile-form.html' %}
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="profileFormSwitch"
        data-bs-toggle="collapse" data-bs-target="#profileFormCollapse" 
        aria-expanded="false" aria-controls="profileForm">
        <label class="form-check-label bold" for="profileFormSwitch">Enter profile information</label>
      </div>
      <br/>
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-warning bg-pitt-gold">Submit</button>
      </div>  
    </form>
  </div>
</div>
{% endblock %}