<div class="row">
    <div class="col">
      <label for="first_name" class="bold">First Name 
        <span class="required-field">*</span>
      </label>
      <input 
      type="text" 
      class="form-control" 
      id="first_name" 
      name="first_name"
      {% if user.is_authenticated %}
      value="{{ user.first_name }}"
      {% elif form %}
      value="{{ form.first_name }}"
      {% endif %}
      required>
    </div>
    <div class="col">
    <label for="last_name" class="bold">Last Name
      <span class="required-field">*</span>
    </label>
      <input 
      type="text" 
      class="form-control" 
      id="last_name" 
      name="last_name"
      {% if user.is_authenticated %}
      value="{{ user.last_name }}"
      {% elif form %}
      value="{{ form.last_name }}"
      {% endif %}
      required>
    </div>
  </div>
  <br/>
  <div class="form-group">
    <label for="username" class="bold">Username
      <span class="required-field">*</span>
    </label>
    <input 
    type="text" 
    class="form-control" 
    id="username" 
    name="username"
    {% if user.is_authenticated %}
    value="{{ user.username }}"
    {% elif form %}
    value="{{ form.username }}"
    {% endif %}
    >
  </div>
  <br/>
  <div class="form-group">
    <label for="email" class="bold">Email
      <span class="required-field">*</span>
    </label>
    <input 
    type="email" 
    class="form-control" 
    id="email" 
    name="email"
    {% if user.is_authenticated and user.email %}
    value="{{ user.email }}"
    {% elif form %}
    value="{{ form.email }}"
    {% endif %}>
  </div>
  <br/>
  {% if not user.is_authenticated %}
  <div class="form-group">
    <label for="pronouns" class="bold">Pronouns</label>
    <input 
    type="text" 
    class="form-control" 
    id="pronouns" 
    name="pronouns"
    {% if user.is_authenticated and user.pronouns %}
    value="{{ user.pronouns }}"
    {% elif form %}
    value="{{ form.pronouns }}"
    {% endif %}
    >
  </div>
  <br/>
  <div class="form-group">
    <label for="title" class="bold">Title</label>
    <input 
    type="text" 
    class="form-control" 
    id="title" 
    name="title"
    {% if user.is_authenticated and user.title %}
    value="{{ user.title }}"
    {% elif form %}
    value="{{ form.title }}"
    {% endif %}
    >
  </div>
  <br/>
  <div class="form-group">
    <label for="affiliation" class="bold">Affiliation</label>
    <select class="form-control"
      id="affiliations"
      name="affiliations" 
      multiple
      required>
      <option value="" disabled>Select one or more affiliations</option>
      {% for affiliation in vocab.affiliation_type %}
      <option value="{{ affiliation }}"
      {% if form.affiliations and affiliation in form.affiliations %}
      selected
      {% endif %}>{{ affiliation }}</option>
      {% endfor %}
    </select>
  </div>
  <br/>
  <div class="form-group">
    <label for="other_affiliation" class="bold">Other Affiliation</label>
    <input 
    type="text" 
    class="form-control" 
    id="other_affiliation" 
    name="other_affiliation"
    {% if user.is_authenticated and user.website %}
    value="{{ other_affiliation }}"
    {% elif form %}
    value="{{ form.other_affiliation }}"
    {% endif %}
    >
  </div>
  <br/>
  <div class="form-group">
    <label for="website" class="bold">Website</label>
    <input 
    type="url" 
    class="form-control" 
    id="website" 
    name="website"
    {% if user.is_authenticated and user.website %}
    value="{{ user.website }}"
    {% elif form %}
    value="{{ form.website }}"
    {% endif %}
    >
  </div>
  <br/>
  <div class="form-group">
    <label for="bio" class="bold">Bio</label>
    <textarea class="form-control"
      id="bio"
      name="bio"
      rows="3"
      placeholder="Markdown-enabled field"
      {% if user.is_authenticated and user.bio %}
      >{{ user.bio }}</textarea>
      {% elif form.bio %}
      >{{ form.bio }}</textarea>
      {% else%}
      ></textarea>
      {% endif %}
  </div>
  <br/>
  <div class="form-group">
    <label for="photo_url" class="bold">Profile Photo URL</label>
    <input 
    type="url" 
    class="form-control" 
    id="photo_url" 
    name="photo_url"
    {% if user.is_authenticated and user.photo_url %}
    value="{{ user.photo_url }}"
    {% elif form.photo_url %}
    value="{{ form.photo_url }}"
    {% endif %}>
  </div>
  <br/>
  {% endif %}
  <div class="form-group">
    {% if user.is_authenticated %}
    <label for="password" class="bold">Current Password</label>
    {% else %}
    <label for="password" class="bold">Password
      <span class="required-field">*</span>
    </label>
    {% endif %}
    <input 
    type="password" 
    class="form-control" 
    id="password" 
    name="password" 
    placeholder="">
  </div>
  <br/>
  <div class="form-group">
    <label for="password" class="bold">Confirm Password
        {% if not user.is_authenticated %}
        <span class="required-field">*</span>
        {% endif %}
    </label>
    <input 
    type="password" 
    class="form-control" 
    id="password_conf" 
    name="password_conf" 
    placeholder="">
  </div>
  <br/>
  {% if user.is_authenticated %}
  <div class="form-group">
    <label for="password" class="bold">New Password
      <span class="required-field">*</span>
    </label>
    <input 
    type="password" 
    class="form-control" 
    id="password" 
    name="password" 
    placeholder="">
  </div>
  {% endif %}
  <br/>
  <div class="col-md-12 text-center">
    {% if user.is_authenticated %}
    <button type="submit" class="btn btn-primary">Update</button>
    {% else %}
    <button type="submit" class="btn btn-primary">Submit</button>
    {% endif %}
  </div>          