<h5 align="left">Filters</h5>
<div class="card shadow-sm bg-light-gray">
    <div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
        <label for="keywords" class="bold">Keywords
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Enter help text here'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="keywords" 
            name="keywords">
        </div>
        <br />
        <div class="form-group">
        <label for="title" class="bold">Title
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Enter help text here'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="title" 
            name="title">
        </div>
        <br />
        <div class="form-group">
        <label for="creator" class="bold">Creator
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Enter help text here'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="creator" 
            name="creator">
        </div>
        <br />
        <div class="form-group">
        <label for="contributor" class="bold">Contributor
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Enter help text here'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="contributor" 
            name="contributor">
        </div>
        <br />
        <div class="form-group">
        <label for="publisher" class="bold">Publisher
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Enter help text here'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="publisher" 
            name="publisher">
        </div>
        <br />
        <div class="form-group">
        <label for="depositor" class="bold">Depositor
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Enter help text here'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="depositor" 
            name="depositor">
        </div>
        <br />
        <div class="row">
        <div class="col">
            <div class="form-group">
            <label for="start_year" class="bold">Start Year
                <span 
                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title='Enter help text here'>&#x1F6C8;
                </span>
            </label>
            <input 
                type="number" 
                class="form-control" 
                id="start_year" 
                name="start_year"
                min="1900" max="2099" step="1">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
            <label for="end_year" class="bold">End Year
                <span 
                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title='Enter help text here'>&#x1F6C8;
                </span>
            </label>
            <input 
                type="number" 
                class="form-control" 
                id="end_year" 
                name="end_year"
                min="1900" max="2099" step="1">
            </div>
        </div>
        </div>
        <br />
        <div class="form-group">
        <label for="language" class="bold">Language
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Enter help text here'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="language" 
            name="language">
        </div>
        <br/>
        <div class="form-group">
        <label for="description" class="bold">Description
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Enter help text here'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="description" 
            name="description">
        </div>
        <br/>
        <div class="form-group">
        <label for="language" class="bold">Item Type
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Enter help text here'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="language" 
            name="language">
        </div>
        <br/>
        <div class="form-group">
        <label for="subject" class="bold">Subject
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Enter help text here'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="subject" 
            name="subject">
        </div>
        <br/>
        <div class="form-group">
        <label for="coverage" class="bold">Coverage
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Enter help text here'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="coverage" 
            name="coverage">
        </div>
        <br/>
        <div class="form-group">
        <label for="copyright" class="bold">Copyright Status
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Enter help text here'>&#x1F6C8;
            </span>
        </label>
        {% for statement in rights %}
        <div class="form-check">
            <label class="form-check-label">
            <input 
            type="checkbox" 
            class="form-check-input" 
            value="{{ statement }}">{{ statement }}
            </label>
        </div>
        {% endfor %}
        </div>
        <br />
        <div class="col-md-12 text-center">
        <button 
        type="submit" 
        class="btn btn-primary bg-pitt-royal border-pitt-royal"
        {% if not dataset %} 
        disabled
        {% endif %}
        >
        Apply Filters
        </button>
        </div>
    </form>
    </div>
</div>