<h5 align="left">Filters</h5>
<div class="card shadow-sm bg-light-gray">
    <div class="card-body">
    <form method="POST" action="/retrieve/?filter=True">
        {% csrf_token %}
        <div class="form-group">
        <label for="keywords" class="bold">Keywords
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Find collection items related to your 
                keyword(s) or keyphrase(s). To filter on multiple words or
                phrases, place quotes around each and separate them with an 
                AND or an OR operator. Example: "August Wilson" OR 
                "Errol Garner"'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="keywords" 
            name="keywords"
            {% if request.session.filters.keywords %}
            value="{{ request.session.filters.keywords }}"
            {% endif %}
            >
        </div>
        <br />
        <div class="form-group">
        <label for="title" class="bold">Title
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Find collection items with titles that contain 
                your keyword(s) or keyphrase(s). To filter on multiple words or
                phrases, place quotes around each and separate them with an 
                AND or an OR operator. Example: "The Phantom of the Movies’ 
                VIDEOSCOPE" AND "Night of the Living Dead"'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="title" 
            name="title"
            {% if request.session.filters.title %}
            value="{{ request.session.filters.title }}"
            {% endif %}>
        </div>
        <br />
        <div class="form-group">
        <label for="creator" class="bold">Creator
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Find collection items by creator name(s). 
                To filter on multiple names, place quotes around each and 
                separate them with an AND or an OR operator. 
                Example: "August Wilson" OR "Errol Garner"'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="creator" 
            name="creator"
            {% if request.session.filters.creator %}
            value="{{ request.session.filters.creator }}"
            {% endif %}>
        </div>
        <br />
        <div class="form-group">
        <label for="contributor" class="bold">Contributor
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Find collection items by contributor name(s). 
                To filter on multiple names, place quotes around each and 
                separate them with an AND or an OR operator. Example: 
                "Detre Library & Archives" AND "Heinz History Center"'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="contributor" 
            name="contributor"
            {% if request.session.filters.contributor %}
            value="{{ request.session.filters.contributor }}"
            {% endif %}>
        </div>
        <br />
        <div class="form-group">
        <label for="publisher" class="bold">Publisher
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Find collection items by publisher name(s). 
                To filter on multiple names, place quotes around each and 
                separate them with an AND or an OR operator. 
                Example: "Beadle and Company" OR "American Book Company"'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="publisher" 
            name="publisher"
            {% if request.session.filters.publisher %}
            value="{{ request.session.filters.publisher }}"
            {% endif %}>
        </div>
        <br />
        <!-- <div class="form-group">
        <label for="depositor" class="bold">Depositor
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Enter help text here'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="depositor" 
            name="depositor"
            {% if request.session.filters.depositor %}
            value="{{ request.session.filters.depositor }}"
            {% endif %}>
        </div>
        <br /> -->
        <div class="row">
        <div class="col">
            <div class="form-group">
            <label for="start_year" class="bold">Start Year
                <span 
                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title='Find collection items that were created or 
                    published during or after the start year. Note that the date 
                    fields are not all standardized, so the accuracy of your 
                    results may vary.'>&#x1F6C8;
                </span>
            </label>
            <input 
                type="number" 
                class="form-control" 
                id="start_year" 
                name="start_year"
                min="1000" max="2099" step="1"
                {% if request.session.filters.start_year %}
                value="{{ request.session.filters.start_year }}"
                {% endif %}>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
            <label for="end_year" class="bold">End Year
                <span 
                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title='Find collection items that were created or 
                    published before or during the end year. Note that the date 
                    fields are not all standardized, so the accuracy of your 
                    results may vary.'>&#x1F6C8;
                </span>
            </label>
            <input 
                type="number" 
                class="form-control" 
                id="end_year" 
                name="end_year"
                min="1000" max="2099" step="1"
                {% if request.session.filters.end_year %}
                value="{{ request.session.filters.end_year }}"
                {% endif %}>
            </div>
        </div>
        </div>
        <br />
        <div class="form-group">
        <label for="language" class="bold">Language
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Limit your results to content in a specific 
                language. Note that some items may be assigned 
                multiple languages or no languages. To filter on multiple 
                languages, place quotes around each and separate them with an 
                AND or an OR operator. Example: "Spanish" OR "Portuguese"'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="language" 
            name="language"
            {% if request.session.filters.language %}
            value="{{ request.session.filters.language }}"
            {% endif %}>
        </div>
        <br/>
        <div class="form-group">
        <label for="description" class="bold">Description
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Find collection items with descriptions that 
                contain your keyword(s) or keyphrase(s). To filter on multiple 
                words or phrases, place quotes around each and separate them 
                with an AND or an OR operator. Example: "social justice" OR
                "activism"'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="description" 
            name="description"
            {% if request.session.filters.description %}
            value="{{ request.session.filters.description }}"
            {% endif %}>
        </div>
        <br/>
        <div class="form-group">
        <label for="item_type" class="bold">Item Type
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Limit your results to items of a specific type. 
                To filter on multiple types, place quotes around each and 
                separate them with an AND or an OR operator. Example: 
                "newsletter" AND "bulletin"'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="item_type" 
            name="item_type"
            {% if request.session.filters.item_type %}
            value="{{ request.session.filters.item_type }}"
            {% endif %}>
        </div>
        <br/>
        <div class="form-group">
        <label for="subject" class="bold">Subject
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Find collection items with subject headings that 
                contain your keyword(s) or keyphrase(s). To filter on multiple 
                words or phrases, place quotes around each and separate them 
                with an AND or an OR operator. Example: "readers" OR "spellers"'
                >&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="subject" 
            name="subject"
            {% if request.session.filters.subject %}
            value="{{ request.session.filters.subject }}"
            {% endif %}>
        </div>
        <br/>
        <div class="form-group">
        <label for="coverage" class="bold">Coverage
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Limit your results to collection items with 
                spatial or temporal topic related to your keyword(s) or 
                keyphrase(s). To filter on multiple words or phrases, place 
                quotes around each and separate them with an AND or an OR 
                operator. Example: "Central America" OR "Latin America"'>&#x1F6C8;
            </span>
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="coverage" 
            name="coverage"
            {% if request.session.filters.coverage %}
            value="{{ request.session.filters.coverage }}"
            {% endif %}>
        </div>
        <br/>
        <div class="form-group">
        <label for="rights" class="bold">Copyright Status
            <span 
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title='Limit your results to collection items with a 
                specific copyright status.'>&#x1F6C8;
            </span>
        </label>
        {% for statement in rights %}
        <div class="form-check">
            <input 
                type="checkbox" 
                class="form-check-input"
                name="rights"
                id="rights"
                value="{{ statement }}"
                {% if request.session.filters.rights and statement in request.session.filters.rights %}
                checked
                {% endif %}>
            <label class="form-check-label">{{ statement }}</label>
        </div>
        {% endfor %}
        </div>
        <br />
        <div class="col-md-12 text-center">
            <a href="/retrieve/?filter=False" 
                role="button" class="btn btn-outline-danger">
                Clear Filters
            </a>
            <button 
                type="submit" 
                class="btn btn-primary bg-pitt-royal border-pitt-royal">
                Apply Filters
            </button>
        </div>
    </form>
    </div>
</div>