<div class="modal fade" id="saveResultsModal" name="saveResultsModal" 
    tabindex="-1" aria-labelledby="saveResultsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="saveResultsModalLabel">Save Results</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Save Results Form -->
                <div id="create_dataset_form">
                    <form method="POST" action="/save-results/">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="title" class="bold">Title
                          <span class="required-field">*</span></label>
                        <input 
                          type="text" 
                          class="form-control" 
                          id="title" 
                          name="title"
                          required>
                      </div>
                      <br/>
                      <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-warning pitt-gold">Save</button>
                      </div>                      
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
