<span 
    class="badge rounded-pill text-bg-warning bg-pitt-gold">
    <a href="/tag/?title={{ tag }}" data-bs-toggle="tooltip" 
        data-bs-placement="top" data-bs-title="View tag"
        class="badge-tag text-pitt-dark-blue">{{ tag }}</a>
    {% if user.is_authenticated and user in tag.creator.all %}
    <span 
        data-bs-toggle="tooltip" data-bs-placement="top" 
        data-bs-title="Remove tag">
        <button 
            type="button" 
            class="btn-close btn-tag" 
            data-bs-toggle="modal" 
            data-bs-target="#removeTag{{ tag.tag_id }}"
            data-dismiss="alert" 
            aria-label="Close">
        </button>
    {% endif %}
    </span>
</span>
