<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} | CaD@Pitt Database</title>
    {% load django_browser_reload %}
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CaD@PittDB</a>
        <button 
          class="navbar-toggler" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a {% block navbar_home %}class="nav-link"{% endblock %} 
                href="/">Home</a>
            </li>
            <li class="nav-item">
              <a {% block navbar_about %}class="nav-link"{% endblock %}
                href="/about">About</a>
            </li>
            <li class="nav-item">
              <a {% block navbar_browse %}class="nav-link"{% endblock %}
                href="/browse">Browse Datasets</a>
            </li>
            <li class="nav-item">
              <a {% block navbar_retrieve %}class="nav-link"{% endblock %}
                href="/retrieve">Retrieve Data</a>
            </li>
            <li class="nav-item">
              <a {% block navbar_documentation %}class="nav-link"{% endblock %}
                href="/documentation">Documentation</a>
            </li>
            <li class="nav-item">
              <a {% block navbar_help %}class="nav-link"{% endblock %}
                href="/help">Help</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 20px;">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a {% block navbar_dashboard %}class="nav-link"{% endblock %}
                href="/dashboard">Dashboard</span></a>
            </li>
            {% else %}
            <li class="nav-item">
              <a {% block navbar_login %}class="nav-link"{% endblock %}
                href="/login">Log In</span></a>
            </li>
            <li class="nav-item">
              <a {% block navbar_signup %}class="nav-link"{% endblock %}
                href="/signup">Sign Up</a>
            </li>
            {% endif %}
          </ul>
          <form method="POST" class="d-flex" role="search">
            <input 
              class="form-control me-2" 
              type="search" 
              name="search_content"
              placeholder="Search" 
              aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </body>
</html>
