{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
{% endblock %}
{% block navbar_signup %}class="nav-link active"{% endblock %}
{% block content %}
<div class="mx-auto col-sm-10 col-md-8 col-lg-6 col-xxl-4">
    <form method="POST">
      <h3 align="center">Contact Us</h3>
      <div class="form-group">
        <label for="full_name"><span style="font-weight: 500">Full Name</span></label>
        <input 
        type="text" 
        class="form-control" 
        id="full_name" 
        name="full_name"
        required>
      </div>
      <br/>
      <div class="form-group">
        <label for="email"><span style="font-weight: 500">Email Address</span></label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="@pitt.edu"
        required>
      </div>
      <br/>
      <div class="form-group">
        <label for="inquiry_type"><span style="font-weight: 500">Type of Inquiry</span></label>
        <select 
            class="form-select form-select-md" aria-label=".form-select-md"
            id="inquiry_type"
            name="inquiry_type"
            reqired>
            <option value="">Select an inquiry type</option>
            {% for type in vocab.inquiry_type %}
            <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>
      </div>
      <br/>
      <div class="form-group">
        <label for="subject"><span style="font-weight: 500">Subject</span></label>
        <input 
        type="text" 
        class="form-control" 
        id="subject" 
        name="subject" 
        placeholder="CaD@PittDB Contact Form Inquiry"
        required>
      </div>
      <br/>
      <div class="form-group">
        <label for="message"><span style="font-weight: 500">Message</span></label>
        <textarea 
        type="text"
        class="form-control" 
        id="message" 
        name="message" 
        rows="3"
        required></textarea>
      </div>
      <br/>
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  {% endblock %}
