{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
{% endblock %}
{% block navbar_home %}class="nav-link active"{% endblock %}
{% block content %}
{% endblock %}

<div class = "jumbotron">
    <h1>Welcome to the CaD@Pitt Datasets!</h1>
    <p>Explore library and archives metadata, create your own datasets from your searches, and share them with our community of researchers! </p>
    <p>Sign up to begin creating your datasets or browse published datasets!</p>
</div>
<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-primary">Create an Account</button>
  <button type="button" class="btn btn-primary">Create a Dataset</button>
  <button type="button" class="btn btn-primary">Explore Datasets</button>
</div>