{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
{% endblock %}
{% block navbar_signup %}class="nav-link active"{% endblock %}
{% block content %}
<div class="row">
  <div class="mx-auto col-sm-10 col-md-8 col-lg-6 col-xxl-4">
    <form method="POST">
      <h3 align="center">Sign Up</h3>
      <br/>
      <div class="row">
        <div class="col">
          <label for="first_name"><span style="font-weight: 500">First Name</span></label>
          <input 
          type="text" 
          class="form-control" 
          id="first_name" 
          name="first_name"
          required>
        </div>
        <div class="col">
        <label for="last_name"><span style="font-weight: 500">Last Name</span></label>
          <input 
          type="text" 
          class="form-control" 
          id="last_name" 
          name="last_name"
          required>
        </div>
      </div>
      <br/>
      <div class="form-group">
        <label for="user_name"><span style="font-weight: 500">User Name</span></label>
        <input 
        type="text" 
        class="form-control" 
        id="user_name" 
        name="user_name">
      </div>
      <br/>
      <div class="form-group">
        <label for="email"><span style="font-weight: 500">Email</span></label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="@pitt.edu">
      </div>
      <br/>
      <div class="form-group">
        <label for="password"><span style="font-weight: 500">Password</span></label>
        <input 
        type="password" 
        class="form-control" 
        id="password" 
        name="password" 
        placeholder="">
      </div>
      <br/>
      <div class="form-group">
        <label for="password"><span style="font-weight: 500">Confirm Password</span></label>
        <input 
        type="password" 
        class="form-control" 
        id="password_conf" 
        name="password_conf" 
        placeholder="">
      </div>
      <br/>
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>          
    </form>
  </div>
</div>
{% endblock %}